<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>

        <form name="eventForm" [formGroup]="comercioForm" class="event-form w-100-p" fxLayout="column" fxFlex>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-sm-8" fxFlex="50">
                    <mat-label>Departamento</mat-label>
                    <input matInput formControlName="iddepartamento" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Provincia</mat-label>
                    <input matInput formControlName="idprovincia" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Distrito</mat-label>
                    <input matInput formControlName="iddistrito" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="direccion" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nombre Contacto</mat-label>
                    <input matInput formControlName="nombrecontacto" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo" type="text" />
                    <mat-icon matSuffix class="disabled-text">user</mat-icon>
                </mat-form-field>
            </div>


          
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button (click)="grabarComercio()" mat-button color="primary" class="save-button" aria-label="SAVE">
            {{action}}
        </button>
    </div>
</div>