<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="fondo p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                    [@animate]="{value:'*',params:{x:'50px'}}">Dashboard
                </span>

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <!-- <div fxLayout="row">

                <div class="selected-project">{{selectedProject.name}}</div>

                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu"
                    aria-label="Select project">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #projectsMenu="matMenu">
                    <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
                        <span>{{project.name}}</span>
                    </button>
                </mat-menu>
            </div> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">



            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                [@animateStagger]="{value:'50'}">

                <!-- WIDGET 5 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                    class="widget widget5">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                            <div fxFlex class="py-16 h3">Filtro de datos</div>

                            <div fxFlex="0 1 auto" class="py-16" fxLayout="row">


                                <form [formGroup]="busquedaForm" fxLayout="row" fxLayout.xs="column">
                                    <mat-form-field>
                                        <br />
                                        <input matInput formControlName="fechaIni" [matDatepicker]="picker1"
                                            placeholder="Fecha Inicio">
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>


                                    <div>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </div>



                                    <mat-form-field>
                                        <br />
                                        <input matInput formControlName="fechaFin" [matDatepicker]="picker2"
                                            placeholder="Fecha Fin">
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>


                                    <div>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </div>



                                    <br />
                                    <button (click)="grabarUsuario()" mat-button color="primary" class="save-button"
                                        aria-label="SAVE">
                                        Buscar
                                    </button>
                                </form>


                            </div>
                        </div>


                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 5 -->





                <!-- WIDGET 5 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="50"
                    class="widget widget5">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                            <div fxFlex class="py-16 h3" fxLayoutAlign="center center">Cantidad total de
                                transacciones</div>

                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="center center">

                            <!-- <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                        <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="widget5.scheme"
                                            [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                                            [gradient]="widget5.gradient" [xAxis]="widget5.xAxis"
                                            [yAxis]="widget5.yAxis" [legend]="widget5.legend"
                                            [showXAxisLabel]="widget5.showXAxisLabel"
                                            [showYAxisLabel]="widget5.showYAxisLabel" [xAxisLabel]="widget5.xAxisLabel"
                                            [yAxisLabel]="widget5.yAxisLabel" (select)="widget5.onSelect($event)">
                                        </ngx-charts-bar-vertical-stacked>
                                    </div> -->

                            <!-- <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                        <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="widget5.scheme"
                                            [results]="this.widgets.widget5.mainChart['TW']"
                                            [gradient]="widget5.gradient" [xAxis]="widget5.xAxis"
                                            [yAxis]="widget5.yAxis" [legend]="widget5.legend"
                                            [showXAxisLabel]="widget5.showXAxisLabel"
                                            [showYAxisLabel]="widget5.showYAxisLabel" [xAxisLabel]="widget5.xAxisLabel"
                                            [yAxisLabel]="widget5.yAxisLabel" (select)="widget5.onSelect($event)">
                                        </ngx-charts-bar-vertical-stacked>
                                    </div> -->

                            <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme"
                                    [results]="projectsData['cantidad']" [gradient]="gradient" [xAxis]="showXAxis"
                                    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [barPadding]="50"
                                    [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>



                            <!-- <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">

                                        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
                                            *ngFor="let widget of widgets.widget5.supporting | keys" class="mb-24">

                                            <div class="px-24">
                                                <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                <div class="mat-display-1 m-0">
                                                    {{widget.value.count[widget5.currentRange]}}
                                                </div>
                                            </div>

                                            <div class="h-64">
                                                <ngx-charts-area-chart *fuseIfOnDom
                                                    [results]="widget.value.chart[widget5.currentRange]"
                                                    [scheme]="widget5.supporting.scheme"
                                                    [gradient]="widget5.supporting.gradient"
                                                    [xAxis]="widget5.supporting.xAxis"
                                                    [yAxis]="widget5.supporting.yAxis"
                                                    [legend]="widget5.supporting.legend"
                                                    [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                                                    [showYAxisLabel]="widget5.supporting.showYAxisLabel"
                                                    [xAxisLabel]="widget5.supporting.xAxisLabel"
                                                    [yAxisLabel]="widget5.supporting.yAxisLabel"
                                                    [curve]="widget5.supporting.curve">
                                                </ngx-charts-area-chart>
                                            </div>
                                        </div>
                                    </div> -->
                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 5 -->

                <!-- WIDGET 55 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="50"
                    class="widget widget55">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                            <div fxFlex class="py-16 h3" fxLayoutAlign="center center">Monto total de
                                transacciones</div>

                        </div>



                        <div fxLayout="row wrap" fxLayoutAlign="center center">

                            <!-- <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="widget55.scheme"
                                    [results]="this.widgets.widget55.mainChart[this.widget55.currentRange]"
                                    [gradient]="widget55.gradient" [xAxis]="widget55.xAxis" [yAxis]="widget55.yAxis"
                                    [legend]="widget55.legend" [showXAxisLabel]="widget55.showXAxisLabel"
                                    [showYAxisLabel]="widget55.showYAxisLabel" [xAxisLabel]="widget55.xAxisLabel"
                                    [yAxisLabel]="widget55.yAxisLabel" (select)="widget55.onSelect($event)">
                                </ngx-charts-bar-vertical-stacked>
                            </div> -->

                            <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme"
                                    [results]="projectsData['monto']" [gradient]="gradient" [xAxis]="showXAxis"
                                    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [rotateXAxisTicks]="false"
                                    [yAxisLabel]="yAxisLabel" [barPadding]="50" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>

                            <!-- <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">

                                        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
                                            *ngFor="let widget of widgets.widget5.supporting | keys" class="mb-24">

                                            <div class="px-24">
                                                <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                <div class="mat-display-1 m-0">
                                                    {{widget.value.count[widget5.currentRange]}}
                                                </div>
                                            </div>

                                            <div class="h-64">
                                                <ngx-charts-area-chart *fuseIfOnDom
                                                    [results]="widget.value.chart[widget5.currentRange]"
                                                    [scheme]="widget5.supporting.scheme"
                                                    [gradient]="widget5.supporting.gradient"
                                                    [xAxis]="widget5.supporting.xAxis"
                                                    [yAxis]="widget5.supporting.yAxis"
                                                    [legend]="widget5.supporting.legend"
                                                    [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                                                    [showYAxisLabel]="widget5.supporting.showYAxisLabel"
                                                    [xAxisLabel]="widget5.supporting.xAxisLabel"
                                                    [yAxisLabel]="widget5.supporting.yAxisLabel"
                                                    [curve]="widget5.supporting.curve">
                                                </ngx-charts-area-chart>
                                            </div>
                                        </div>
                                    </div> -->
                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 5 -->

                <!-- WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3"></div>

                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                <mat-icon></mat-icon>
                            </button>
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-fg font-size-40 line-height-40">
                                {{cantTotal}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">&nbsp;
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="center center">
                            <span class="h4 secondary-text text-truncate">
                                Total transacciones cargadas
                            </span>
                            <span class="h4 ml-8"></span>
                        </div>
                    </div>

                </fuse-widget>
                <!-- / WIDGET 2 -->


                <!-- WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3"></div>

                            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                <mat-icon></mat-icon>
                            </button>
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-fg font-size-40 line-height-40 ">
                              {{moneda}}  {{convertir(montoTotal)}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">&nbsp;
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="center center">
                            <span class="h4 secondary-text text-truncate">
                                Total de ingresos
                            </span>
                            <span class="h4 ml-8"></span>
                        </div>
                    </div>
                    <!-- / Front -->



                </fuse-widget>
                <!-- / WIDGET 2 -->

                
                <!-- WIDGET 6 -->
                <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                            fxFlex="100" fxFlex.gt-sm="50"> -->

                <!-- Front -->
                <!-- <div class="fuse-widget-front">

                                <div class="px-16 py-8 border-bottom" fxLayout="row"
                                    fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget6.title}}</div>
                                    <mat-form-field>
                                        <mat-select class="simplified" [(ngModel)]="widget6.currentRange"
                                            aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets.widget6.ranges | keys"
                                                [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="h-400">
                                    <ngx-charts-pie-chart *fuseIfOnDom [scheme]="widget6.scheme"
                                        [results]="widgets.widget6.mainChart[widget6.currentRange]"
                                        [legend]="widget6.showLegend" [explodeSlices]="widget6.explodeSlices"
                                        [labels]="widget6.labels" [doughnut]="widget6.doughnut"
                                        [gradient]="widget6.gradient" (select)="widget6.onSelect($event)">
                                    </ngx-charts-pie-chart>
                                </div>

                                <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">

                                    <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center"
                                        fxFlex="100" fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">
                                            {{widgets.widget6.footerLeft.count[widget6.currentRange]}}
                                        </span>
                                        <span class="h4">{{widgets.widget6.footerLeft.title}}</span>
                                    </div>

                                    <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                        fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">
                                            {{widgets.widget6.footerRight.count[widget6.currentRange]}}
                                        </span>
                                        <span class="h4">{{widgets.widget6.footerRight.title}}</span>
                                    </div>
                                </div>

                            </div> -->
                <!-- / Front -->

                <!-- </fuse-widget> -->
                <!-- / WIDGET 6 -->

                <!-- WIDGET 7 -->
                <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                            fxFlex="100" fxFlex.gt-sm="50"> -->

                <!-- Front -->
                <!-- <div class="fuse-widget-front">

                                <div class="px-16 py-8 border-bottom" fxLayout="row"
                                    fxLayoutAlign="space-between center">
                                    <div class="h3">{{widgets.widget7.title}}</div>
                                    <mat-form-field>
                                        <mat-select class="simplified" [(ngModel)]="widget7.currentRange"
                                            aria-label="Change range">
                                            <mat-option *ngFor="let range of widgets.widget7.ranges | keys"
                                                [value]="range.key">
                                                {{range.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
                                    *ngFor="let event of widgets.widget7.schedule[widget7.currentRange]">
                                    <div>
                                        <div class="h3">{{event.title}}</div>
                                        <div>
                                            <span class="secondary-text">{{event.time}}</span>
                                            <span *ngIf="event.location">, {{event.location}}</span>
                                        </div>
                                    </div>

                                    <button mat-icon-button aria-label="More information">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                            </div> -->
                <!-- / Front -->

                <!-- </fuse-widget> -->
                <!-- / WIDGET 7 -->

            </div>
            <!-- / WIDGET GROUP -->


        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->



</div>