<div id="order" class="page-layout carded fullwidth inner-scroll">

   
    <!-- HEADER -->
    <div class="fondo p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

        <div fxLayout="row" fxLayoutAlign="space-between start">

            <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                [@animate]="{value:'*',params:{x:'50px'}}">&nbsp;Detalle Nomina Error
            </span>


        </div>
    </div>
    <!-- / HEADER -->

    <!-- CENTER -->
    <div class="center">

        
        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="Transacciones">

                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <!-- tabla 1 -->

                            <!-- <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                    <div class="h2 secondary-text">Order Status</div>
                                </div>

                                <div class="example-container">
                                    <mat-table #table [dataSource]="cabeceraFuente">

                                        <ng-container matColumnDef="subidoPor">
                                            <mat-header-cell *matHeaderCellDef> Subido por </mat-header-cell>
                                            <mat-cell *matCellDef="let cf"> {{cf.subidoPor}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="estado">
                                            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                                            <mat-cell *matCellDef="let cf"> {{cf.estado}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="transNumber">
                                            <mat-header-cell *matHeaderCellDef> # Transacciones </mat-header-cell>
                                            <mat-cell *matCellDef="let cf"> {{cf.transNumber}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="total">
                                            <mat-header-cell *matHeaderCellDef> $ Total </mat-header-cell>
                                            <mat-cell *matCellDef="let cf"> {{cf.total}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="detalle">
                                            <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                                            <mat-cell *matCellDef="let cf"> {{cf.detalle}} </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="cabeceraDetalle"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: cabeceraDetalle;"></mat-row>


                                    </mat-table>
                                </div>

                            </div> -->
                            <!-- tabla 2 -->

                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                    <div class="h2 secondary-text">Listado de Transacciones con Error</div>
                                </div>

                                <div class="example-container">
                                    <mat-table #table [dataSource]="listaNominasError">

                                        <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->

                                        <!-- Position Column -->
                                        <!-- <ng-container matColumnDef="nomina">
                                            <mat-header-cell *matHeaderCellDef> Nomina </mat-header-cell>
                                            <mat-cell *matCellDef="let element">  </mat-cell>
                                        </ng-container> -->

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="nroTransaccion">
                                            <mat-header-cell *matHeaderCellDef> Nro Transaccion </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Nro Transaccion</th>
                                            <td mat-cell *matCellDef="let element"> {{element.nroTransaccion}} </td> -->
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="ordenCompra">
                                            <mat-header-cell *matHeaderCellDef>Orden de Compra</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.transactionid }} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Orden de Compra</th>
                                            <td mat-cell *matCellDef="let element"> {{element.ordenCompra}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="notaCredito">
                                            <mat-header-cell *matHeaderCellDef>Nota de Credito</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Nota de Credito</th>
                                            <td mat-cell *matCellDef="let element"> {{element.notaCredito}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="cuentaDestino">
                                            <mat-header-cell *matHeaderCellDef>Cuenta de Destino</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.account_numer}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Cuenta de Destino</th>
                                            <td mat-cell *matCellDef="let element"> {{element.cuentaDestino}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="tipoCuenta">
                                            <mat-header-cell *matHeaderCellDef>Tipo de Cuenta</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.account_type }}</mat-cell>


                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Tipo de Cuenta</th>
                                            <td mat-cell *matCellDef="let element"> {{element.tipoCuenta}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="Banco">
                                            <mat-header-cell *matHeaderCellDef>Banco</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.merchant }} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Banco</th>
                                            <td mat-cell *matCellDef="let element"> {{element.Banco}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="rutTitular">
                                            <mat-header-cell *matHeaderCellDef>Rut Titular</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Rut Titular</th>
                                            <td mat-cell *matCellDef="let element"> {{element.rutTitular}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="nombre">
                                            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.customer_name}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%">Nombre</th>
                                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="monto">
                                            <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%"> Monto </th>
                                            <td mat-cell *matCellDef="let element"> {{element.monto}} </td> -->
                                        </ng-container>


                                        <!-- Symbol Column -->
                                        <!-- <ng-container matColumnDef="cartolas">
                                            <mat-header-cell *matHeaderCellDef>Cartolas</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.reference}} </mat-cell>
                                        </ng-container> -->

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="canal">
                                            <mat-header-cell *matHeaderCellDef>Canal</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> Tranferencia </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%"> Canal </th>
                                            <td mat-cell *matCellDef="let element"> {{element.canal}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="correoElectronico">
                                            <mat-header-cell *matHeaderCellDef>mail</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.correo}}
                                            </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%"> E-mail </th>
                                            <td mat-cell *matCellDef="let element"> {{element.correoElectronico}} </td> -->
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <!-- <ng-container matColumnDef="estadoTransferencia">
                                            <mat-header-cell *matHeaderCellDef>Estado de Tranferencia</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> Pendiente
                                            </mat-cell>
                                        </ng-container> -->

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="motivo">
                                            <mat-header-cell *matHeaderCellDef>Motivo del error de carga</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.msgError}} </mat-cell>

                                            <!-- <th mat-header-cell *matHeaderCellDef width="6%"> Motivo </th>
                                                                                    <td mat-cell *matCellDef="let element"> {{element.motivo}} </td> -->
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                                        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                                    </mat-table>
                                </div>

                            </div>



                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>