<div id="e-commerce-orders">
    <div class="left mr-lg-32">
        <div class="pb-24 font-size-18 font-weight-300">
        </div>
        <div fxLayout="column" fxLayoutAlign="start"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
        </div>

                      <!-- Widget 9 -->
                <div class="mb-48">
                    <div class="pb-24 font-size-18 font-weight-300">
                        Lista de Usuarios
                    </div>

                    <div class="fuse-card">
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h1 pr-16">Top campaigns</div>
                            <div>
                                <mat-menu>
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon color="accent">check_box</mat-icon>
                                        <span>Show Clicks</span>
                                    </button>
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon color="accent">check_box</mat-icon>
                                        <span>Show Conversion</span>
                                    </button>
                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                        <mat-icon>check_box_outline_blank</mat-icon>
                                        <span>Show CPC</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <table class="simple clickable">
                            <thead>
                                <tr>
                                    <th class="text-right">Nombre de Usuario</th>
                                    <th class="text-right">Nombre</th>
                                    <th class="text-right">Correo Elecetronico</th>
                                    <th class="text-right">Tipo de Usuario</th>
                                    <th class="text-right">Compañia</th>
                                    <th class="text-right">Estatus</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-divider full-width"></div>
                    </div>
                </div>
                <!-- / widget 9 -->
    </div>
</div>