<div id="order" class="page-layout carded fullwidth inner-scroll">

    <!-- HEADER -->
    <div class="fondo p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                [@animate]="{value:'*',params:{x:'50px'}}">&nbsp;Usuarios
            </span>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- empezamos a mover -->
    <div style="width: 90%;   position: absolute;
right: 50px;
width: 300px;
padding: 10px;
border-radius: 4px;">
        <form [formGroup]="busquedaForm">
            <mat-grid-list cols="1" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                        <mat-form-field align="start" fxFlex="40" style="font-size: 14px;">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput formControlName="username" type="text" />
                        </mat-form-field>

                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                        <button align="end" (click)="ObtenerBusquedaNomina()" class="buttonBuscar button2" fxFlex="20">
                            Buscar
                        </button>

                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <mat-card>

            <!-- CONTENT CARD -->
            <div class="content-card">
                <!-- CONTENT -->
                <div class="content">
                    <div class="order-details tab-content p-24 ">
                        <div class="section pb-48">
                            <div class="Row">
                                <div align="left" class="Column">
                                    <div class="h2 secondary-text">
                                        Lista de Usuarios
                                        <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    </div>
                                </div>
                                <div align="right" class="Column">
                                    <button mat-fab class="add-event-button mat-accent" (click)="addEventUsu(null)"
                                        aria-label="Agregar Comercio">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="example-container">
                                <mat-table [dataSource]="listaUsuarios" FusePerfectScrollbarPosition>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="nombre_usuario">
                                        <mat-header-cell *matHeaderCellDef>Nombre de Usuario</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="text-truncate">{{e.username}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="text-truncate">{{e.nombres}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="apellido">
                                        <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="status text-truncate h6 p-4">
                                                {{e.apellidos}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef>Correo Electronico</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="text-truncate">{{e.email}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="rol">
                                        <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="text-truncate">{{e.rolname}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="estado">
                                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <p class="text-truncate">{{e.estado}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="acciones">
                                        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                        <mat-cell *matCellDef="let e">
                                            <a style="cursor:pointer" data-toggle="modal"
                                                data-target=".edita-bd-example-modal-lg" (click)="addEventUsu(e)"><img
                                                    src="../../../../../assets/icons/acciones/edit.png"></a>
                                        </mat-cell>
                                    </ng-container>




                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>


                                <mat-paginator [length]="totalPag" [pageSize]="10" [pageSizeOptions]="[10]"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->
        </mat-card>
    </div>
    <!-- / CENTER -->
</div>