<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- HEADER -->
    <div class="fondo p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

        <div fxLayout="row" fxLayoutAlign="space-between start">

            <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                [@animate]="{value:'*',params:{x:'50px'}}">&nbsp;Comercios
            </span>

           
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CENTER -->
    <div class="center">


        <!-- empezamos a mover -->
        <div style="width: 90%; margin: -143px -5px 25px 200px; border-radius: 8px;">

            <form [formGroup]="busquedaForm">
                <mat-grid-list cols="1" rowHeight="100px" >

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card layout-xs="column">


                            <!-- <mat-form-field fxFlex="30" align="start ">
                                    <mat-label>Comercio</mat-label>
                                    <mat-select formControlName="cboCom">
                                        <mat-option *ngFor="let cboCom of cboComercio" [value]="cboCom.id">
                                            {{ cboCom.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <mat-form-field align="start" fxFlex="40" style="font-size: 14px;">
                                <input matInput formControlName="fechaIni" [matDatepicker]="picker1"
                                    placeholder="Fecha Inicio">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <mat-form-field align="end" fxFlex="40" style="font-size: 14px;">
                                <input matInput formControlName="fechaFin" [matDatepicker]="picker2"
                                    placeholder="Fecha Fin">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <!-- <button  (click)="ObtenerBusquedaNomina()" mat-raised-button  class="save-button"
                                    aria-label="SAVE" align="end"  [color]="color"  (mouseover)="color = 'warn'"
                                    (mouseout)="color = 'accent'">
                                    Buscar
                                    </button> -->

                            <button (click)="ObtenerBusquedaNomina()" class="buttonBuscar button2" fxFlex="20" >
                                Buscar
                            </button>



                        </mat-card>
                    </mat-grid-tile>


                </mat-grid-list>
            </form>


        </div>

        <!-- inicio prueba -->
        <!-- <mat-grid-list cols="3" rowHeight="50px" rowwidth="50px">
            <mat-grid-tile
                
                [colspan]="1"
                [rowspan]="1"
                [style.background]="'wheat'">
            texto 1
            </mat-grid-tile>

            <mat-grid-tile
                
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'red'">
            texto 1
            </mat-grid-tile>

            <mat-grid-tile
                
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'lightgreen'">
            texto 1
            </mat-grid-tile>



          </mat-grid-list> -->
        <!-- fin prueba -->


        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="content">
                <div class="order-details tab-content p-24" fusePerfectScrollbar>
                    <div class="section pb-48">
                        <div class="Row">
                            <div align="left" class="Column">
                                <div class="h2 secondary-text">
                                    Lista de Comercios
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                </div>
                            </div>
                            <div align="right" class="Column">
                                <button mat-fab class="add-event-button mat-accent" (click)="addEventCom(null)"
                                    aria-label="Agregar Comercio">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="customer mb-32">
                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>Nombre de Comercio</th>
                                        <th>Nombre de Contacto</th>
                                        <th>Ruc</th>
                                        <th>Correo Electronico</th>
                                        <th>Estado</th>

                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListaUsuario">
                                    <tr style="font-size: 13px;" *ngFor="
                                    let com of listaComercio;
                                    index as i
                                ">
                                        <td>{{com.nombre}}</td>
                                        <td>{{com.nombrecontacto}}</td>
                                        <td>{{com.ruc}}</td>
                                        <td>{{com.correo}}</td>
                                        <td>{{com.estado}}</td>

                                        <td><a style="cursor:pointer" data-toggle="modal"
                                                data-target=".edita-bd-example-modal-lg" (click)="addEventCom(com)"><img
                                                    src="../../../../../assets/icons/acciones/edit.png"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>